html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color:   #e6e6ff;
    border-top: 1px solid #ddd;
    padding-top: 20px;
	
}


tr:first-child>td>.fc-day-grid-event {
    margin-top: 2px;
    height: 15px;
	 background-color:#e6e6ff;
	
	 color:  black;
}
.fc-day-grid-event {
    margin-top: 2px;
    height: 20px;
	color:  black;
	font-weight:bold;
	border-color:black;
	margin-top: 3px;
}


/*//////////////// calender style///////////////////////*/
.fc-basic-view .fc-body .fc-row {
    /*min-height: 4em;*/
	 height: 350px;
	 /*width:500px;*/
}
/*//////////////////////////////////////////////////////////////////*/


.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
   color:white;
  //*  background-color: #ddd;*/
}

.container {
   /* text-align: left;*/
    font-weight: bold;
}
.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


